.gradle
build/
buildSrc/out
target/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
/.idea/.name
/.idea/compiler.xml
/.idea/dataSources.ids
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/findbugs-idea.xml
/.idea/gradle.xml
/.idea/jsLibraryMappings.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/shelf
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/jarRepositories.xml
/.idea/artifacts
/.idea/inspectionProfiles
/.idea/codeStyles
/.idea/dataSources
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
